.ownicon {
    width: 25px;
    height: 25px;
    vertical-align: -0.15em;
    fill: rgb(194, 191, 191);
    overflow: hidden;
}

.headicon {
    width: 23px;
    height: 23px;
    vertical-align: -0.15em;
    fill: rgb(194, 191, 191);
    overflow: hidden;
}